<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDA5cMy70f78AlXw9DvVyLTyxHOd7xf-qg</string>
	<key>GCM_SENDER_ID</key>
	<string>901381149626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sdgproject</string>
	<key>PROJECT_ID</key>
	<string>atmosphere-f11e5</string>
	<key>STORAGE_BUCKET</key>
	<string>atmosphere-f11e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901381149626:ios:b52f2f6c38b81f60b00383</string>
</dict>
</plist>